<form action=/random/results>
  <label for="minimum_id">Minimum</label>
  <input id="minimum_id" name="min" placeholder="E.g. 1.5">
  <label for="maximum_id">Maximum</label>
  <input id="maximum_id" name="max" placeholder="E.g. 4.5">
  <button type="submit">Pick random number</button>
</form>
