<form action=/square_root/results>
  <label for="number_id">Enter a number</blabel>
  <input id="number_id" name="number" placeholder="What number do you want to take the square root of?">
  <button type="submit">Calculate Square Root</button>
</form>
