<form action=/square/results>
  <label for="number_id">Enter a number</blabel>
  <input id="number_id" name="number" placeholder="What number do you want to take the square of?">
  <button type="submit">Calculate Square</button>
</form>
